<a href="/profile" class="btn btn-danger border-dark">Regresar</a>
<div id="message">
</div>

<style>
    #scroll {
        width: 70%;
        height: 600px;
        overflow: scroll;
    }
</style>

<div class="container col-6" id="scroll" style="padding-top: 15px;">
    <div class="card">
        <h3 align="center">Nueva Venta</h3>
        <form class="col" style="padding-top:30px;">
            <div class="form-group row">
                <div class="col"> Nit
                    <input type="text" name="nit" placeholder="NIT" class="form-control">
                </div>
                <div class="col-md-8"> Nombre Cliente

                    <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                </div>
                <br>
                <br>

                <div class="col-md-4"> Efectivo
                    <input type="text" id="text" name="text" placeholder="Efectivo" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <input type="search" id="buscar" list="productos" placeholder="Producto" class="form-control">
                </div>
                <div class="col-md-3">
                    <input type="number" id="cantidad" placeholder="Cantidad" min="0" max="50" class="form-control">
                </div>
                <div class="col">
                    <input id="agregar" type="button" value="Agregar" class="btn btn-primary btn-block">
                </div>
            </div>

            <datalist id="productos">
            </datalist>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>

                    <tbody id="registros">
                    </tbody>

                    <tfoot>
                        <tr>
                            <th class="text-center" colspan="4">Total</th>
                            <td class="text-right">
                                <label id="total">0</label>
                            </td>

                        </tr>
                        <tr>
                            <th class="text-center" colspan="4">Cambio</th>
                            <td class="text-right">
                                <label id="efe">0</label>
                            </td>

                        </tr>
                        <tr>
                            {{!-- <td colspan="5">
                                <input type="button" value="Guardar" id="guardar" class="btn btn-block btn-success">
                            </td> --}}
                        </tr>
                    </tfoot>
                </table>
                <input type="button" value="Guardar" id="guardar" class="btn btn-block btn-success">
            </div>
        </form>
    </div>
</div>

<script>
    var factura;
    var detalle = [];
    var productos = document.getElementById('productos');
    var seleccionado = 0;
    var fila;
    var total = 0;
    var efe = 0;
    var listado = [];
    var cadena = "";
    verProductos();
    $('#buscar').on('input', () => {
        let val = $('#buscar').val();
        console.log("valor:", val);
        seleccionado = $('#productos').find(`option[value="${val}"]`).data('name');
        $('#cantidad').attr('max', listado[seleccionado].unidades);
    })
    async function verProductos() {
        let res = await fetch('/ventas/productos');
        listado = await res.json();
        listado.forEach((item, i) => {
            cadena += `<option data-name="${i}"  value="${item.title}" class="sel" />`;
        })
        //Agrega todos los productos para que los puedan ver desde el cuadro de busqueda
        productos.innerHTML = cadena;
    }
    function message(cadena) {
        let mensaje = `<div class="row">
                        <div class="col-md-4 mx-auto">
                            <div class="alert alert-danger alert-dismissible fade show " role="alert">
                                ${cadena}
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                    <span aria-hidden="true">&times;</span>
                               </button>
                            </div>
                        </div>
                    </div>`;
        return mensaje;
    }
    var a = parseFloat($("input[name='text']").val());
    var x = 0;
    var text = document.getElementById('text');
    text.addEventListener('keyup', (event) => {
        //    console.log(event);
        var inputText = event.path[0].value;
        document.querySelector.innerHTML = inputText;
        console.log(inputText);
        x = parseFloat(inputText);
        console.log(x);
        efe = parseFloat($('#efe').text());
        if (total === 0) {
            efe = parseFloat(x);
            efe = x;
        }
        efe = parseFloat(x - total);
        if (x < total && x > 0) {
            console.log(x);
            efe = x;
            $(document).ready(() => {
                $('#efe').text("Ingrese más efectivo");
            });
        }
        else if (isNaN(x)) {
            efe = 0;
            $('#efe').text('0');
            efe = parseFloat($('#efe').text());
        }
        if (x == 0) {
            efe = 0;
            $('#efe').text('0');
            efe = parseFloat($('#efe').text());
        }
        $('#efe').text(efe.toFixed(2));
        return x;
    });
    $('#agregar').click((e) => {
        e.preventDefault();
        if (seleccionado === undefined) {
            limpiarCampos();
            $('#message').append(message('Seleccione producto'));
            return;
        }
        let cantidad = $('#cantidad').val();
        if (cantidad > listado[seleccionado].unidades) {
            limpiarCampos();
            $('#message').append(message('Excedió el limite de unidades de ese producto'));
            return;
        }
        else if (cantidad === '0') {
            limpiarCampos();
            $('#message').append(message('ingrese al menos una unidad'));
            return;
        }
        console.log(typeof cantidad);
        let subtotal = cantidad * listado[seleccionado].precio_venta;
        listado[seleccionado].unidades -= cantidad;
        total = parseFloat($('#total').text());
        total = parseFloat(total + subtotal);
        $('#total').text(total.toFixed(2));
        efe = parseFloat($('#efe').text());
        if (total === 0) {
            efe = parseFloat(x);
            efe = x;
        }
        efe = parseFloat(x - total);
        if (x < total && x > 0) {
            console.log(x);
            efe = x;
            $(document).ready(() => {
                $('#efe').text("Ingrese más efectivo");
            });
        }
        else if (isNaN(x)) {
            efe = 0;
            $('#efe').text('0');
            efe = parseFloat($('#efe').text());
        }
        if (x == 0) {
            efe = 0;
            $('#efe').text('0');
            efe = parseFloat($('#efe').text());
        }
        console.log(total, 'agregar');
        $('#efe').text(efe.toFixed(2));
        console.log(x);
        let registro = {
            "id_producto":listado[seleccionado].id,            
            "title": listado[seleccionado].title,
            "cantidad": cantidad,
            "description": listado[seleccionado].description,
            "precio": listado[seleccionado].precio_venta,
            "subtotal": subtotal,   
        }
        detalle.push(registro);
        limpiarCampos();
        $('#registros').append(`
        <tr>
            <td>${registro.title}</td>
            <td class="text-right">${registro.cantidad}</td>
            <td>${registro.description}</td>
            <td class="text-right">${registro.precio}</td>
            <td class="text-right">${registro.subtotal}</td>
            <td class="btn btn-danger" id="eliminar">x</td>
        </tr>`);
    })
    function limpiarCampos() {
        $('#cantidad').val('');
        $('#buscar').val('');
        seleccionado = undefined;
    }
    $(document).on('click', '#eliminar', function (e) {
        e.preventDefault();
        console.log("detalle vector", JSON.stringify(detalle));
        console.log(total);
        fila = $(this).closest('tr').index();
        $(this).closest('tr').remove();
        total = parseFloat(total.toFixed(2));
        console.log(total);
        total -= detalle[fila].subtotal;
        detalle[fila].cantidad = parseFloat(detalle[fila].cantidad);
        
        let indiceListado = listado.findIndex( element=>  element.title == detalle[fila].title);
        console.log("indice del Vector Listado: ",indiceListado);
        
        console.log("Unidades no actualizadas: ",listado[indiceListado].unidades);
        //Agrego la cantidad de unidades que se van a eliminar.
        listado[indiceListado].unidades += detalle[fila].cantidad;
        
        console.log(typeof detalle[fila].cantidad, 'cantidad');
        
        console.log("Nombre del producto que vamos actualizar: ",listado[indiceListado].title);
        console.log("Unidades actualizadas: ", listado[indiceListado].unidades);
        
        console.log(total);
        if (total < 0) {
            total = 0;
        }
        if (x < total && x > 0) {
            $(document).ready(() => {
                $('#efe').text("Ingrese más efectivo");
            });
            efe = x;
        }
        else if (total === 0 || x === 0) {
            efe = x;
            if (isNaN(x)) {
                x = 0;
                efe = x;
            }
        }
        else if (x >= total) {
            efe = parseFloat(x - total);
        }
        else {
            efe += detalle[fila].subtotal;
        }
        detalle.splice(fila, 1);
        $('#total').text(total.toFixed(2));
        console.log(total, 'eliminar');
        $('#efe').text(efe.toFixed(2));
    })
    $('#guardar').click(async function () {
        if ($("input[name='nombre").val() === "" || $("input[name='nit']").val() === "") {
            $("#message").append(message('Ingrese información del cliente'));
            return
        }
        url = "/ventas/factura";
        factura = {
            cliente: $("input[name='nombre']").val(),
            nit: $("input[name='nit']").val(),
            total,
            detalle
        }
        $('#registros').text('');
        $('#total').text('0');
        await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            body: JSON.stringify(factura)
        });
        window.location.assign('/ventas/factura');
    })
</script>