<div class="container">
     <div class="col-md-4 mx-auto">
         <div class="card text-center">
             <div class="card-body">
                 
                 <h3 style="text-transform: capitalize;">{{user.fullname}}</h3>
                 <h4>{{user.username}}</h4>
                 <a href="/ventas" class="btn btn-block btn-primary">Listado de ventas</a>
                 <a href="/ventas/factura" class="btn btn-block btn-success">Crear Venta</a>
             </div>
         </div>
     </div>
</div>